yfinance==0.2.50
tableau-api-lib==0.1.50
python-dotenv==1.0.1
supabase==2.10.0
pandas==2.2.3
flask==3.1.0
psycopg2==2.9.10
langchain==0.3.12
langchain-openai==0.2.12
langchain-chroma==0.1.4
requests==2.32.3
langchain-community==0.3.12
finnhub-python==2.4.22